.no-details-message{
    color: red;
    font-size:larger;
    text-align: center;
}
.card-header-config{
    font-size: 14px;
    font-weight: bold;
    color: var( --grey-medium)
}
.card-value-config{
    font-size: 18px;
    font-weight: bold;
    color: var( --grey-medium)
}
ion-card{
    border-radius: 7px;
    margin: 20px;
    ion-card-content{
        padding: 6px;
    }
}
.card-wrapper{
    margin-top: 5%;
}
.details-wrapper{
    margin-top: 10%;
}
ion-row{
    height: 40px;
}

.field-wrapper{
    margin : 20px 25px 10px 15px
}

.value{
      font-size: 14px;
      color: var(--dark-gray);
      margin-top: 5px;
}
  .session-detail-heading{
      font-size: 16px;
      font-weight: bold;
      color: var(--dark-grey);
      margin-bottom: 5px;
  }

.details-section{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    padding: 10px;
    border-radius: 10px;
    margin: 0px !important;
}